[user]
	name = Tirso Peguero
	email = tirso.peguero@samsara.com
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	nuke = !sh -c 'git branch -D $1 && git push origin :$1'
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	hist = log --pretty=format:'%Cred%h%Creset %ad | %s%C(yellow)%d%Creset %Cgreen[%an]%Creset' --graph --date=short
	summon = "!summon () { b=$1; git fetch origin +refs/heads/$b:refs/remotes/origin/$b $b:$b; }; summon"

[branch "master"]
	rebase = true
[merge "ours"]
	driver = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/tirso.peguero/.ignore
